# Git 관련
.git
.gitmodules
.gitignore

# 빌드 관련 / 개발용 파일
node_modules/
target/test-classes/
target/classes/
target/maven-*/
target/generated-sources/
!target/*.war
*.iml
*.log
*.bak

# 문서, 스크립트
*.md
*.py
*.bat
README.md
set_env.sh
set_env.bat

# Wallet은 직접 이미지에 포함하지 않음
wallet/
wallet.zip

# git_submodule_chacha 제외
src/main/resources/git_submodule_chacha/

# IDE 관련
.vscode/
.idea/

# 임시 파일
tmp/
*.swp
*.DS_Store

# 환경 변수 파일 제외
.env