[submodule "git_submodule_chacha"]
	path = git_submodule_chacha
	url = https://github.com/chachacreate/git_submodule_chacha.git
[submodule "src/main/resources/git_submodule_chacha"]
	path = src/main/resources/git_submodule_chacha
	url = https://github.com/chachacreate/git_submodule_chacha.git
