<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resource name="jdbc/myoracle" 
              auth="Container"
              type="javax.sql.DataSource"
              driverClassName="oracle.jdbc.OracleDriver"
              url="jdbc:oracle:thin:@chachacreateoracle_medium?TNS_ADMIN=${WALLET_PATH}"
              username="${DB_USERNAME}"
              password="${DB_PASSWORD}"
              maxTotal="20"
              maxIdle="10"
              minIdle="5"
              initialSize="5"/>
</Context>